.vscode
/DAD2/COMPLEXIDADE/ARQUIVOS TXT
/DAD2/MANIPULA ARQUIVO/__PYCACHE__
/INTERFACE GRAFICA/__PYCACHE__
/PROG 2/__PYCACHE__
/PROG 2/PROGRAMAS_PYTHON_PROG2
/PROG 2/PROVA_2/__PYCACHE__
/PROG 2/VPL_8/__PYCACHE__
/PROG 3/Aula_06_1_Cons_Func_Soma_Form
/PROG 3/Aula_06_2_Cons_OO_Aluno_Form
/PROG 3/Exemplos_de_Comandos_SQL
/PROG 3/Programas_Linguagem_HTML
/PROG 3/Programas_Linguagem_Javascript
/PROG 3/Programas_Python_Prog3